body {
    background-color: #1e1e1e; /* Cor de fundo mais escura para contraste */
    color: #f8f8f8; /* Cor do texto mais clara */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Melhorar a legibilidade do texto */
}

header {
    background-color: #ff66b2; /* Cor rosa mais suave */
    color: #1e1e1e; /* Cor do texto escura para contraste */
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

h1 {
    font-size: 3em; /* Tamanho do título reduzido para uma melhor adaptação */
    margin: 0;
}

main {
    background-color: #2c2c2c; /* Cor de fundo cinza escuro para contraste */
    border: 3px solid #ff66b2; /* Cor da borda rosa suave */
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px; /* Largura ajustada para melhor visualização */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada */
}

h2 {
    color: #ff66b2; /* Cor rosa suave para os subtítulos */
    margin-top: 0;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 0.5em;
}

.informacao p {
    text-align: justify;
}

.imagem {
    text-align: center; /* Centralizar a imagem */
    margin-top: 20px; /* Espaçamento acima da imagem */
}

.imagem img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ff66b2;
    border-radius: 10px;
}

footer {
    background-color: #ff66b2;
    color: #1e1e1e;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}

.secao {
    max-width: 1000px; /* Largura ajustada */
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap; /* Permitir quebra de linha em telas menores */
    padding: 20px;
}

.texto {
    flex: 1 1 45%; /* Ajuste flexível para o texto */
    padding-right: 20px;
    margin-bottom: 20px; /* Espaçamento inferior */
}

.imagem {
    flex: 1 1 45%; /* Ajuste flexível para a imagem */
    text-align: center;
}
